.header {
  background-image: linear-gradient(to bottom,#6e85b2 0,#687daa 100%);
  padding: 20px;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 51;
}

.logo {
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  padding: 0 0 0 10px;
  color: #eee;
}

