<main class="main">
  <div class="wrapper">
    <!-- gm -->
    <div class="geo">
      <button [disabled]="isTracking" class="btn" (click)="findMe()">Find me</button>
      <button class="btn" (click)="trackMe()">Track me</button>
    </div>
    <div class="geo_info" *ngIf="isTracking">
      <span>Longitude: {{currentLong}}</span>
      <span>Longitude: {{currentLong}}</span>
    </div>
  </div>

  <div #gmap style="width:100%; height:300px"></div>

  <div class="wrapper">

    <ul *ngIf="acList">
      <li class="box"
          *ngFor="let item of acList"
          routerLink="/flight-info/{{item.Id}}">
            <h2><i class="fas fa-plane"></i></h2>
            <h2 class="border">Altitude: {{item.Alt}}</h2>
            <h3>Code: {{item.Icao}}</h3>
      </li>
    </ul>

  </div>

</main>
