<main class="main">

  <div class="wrapper">

    <ul *ngIf="acList">
      <li class="box"
          *ngFor="let item of acList"
          routerLink="/flight-info/{{item.Id}}">
            <h2><i class="fas fa-plane"></i></h2>
            <h2 class="border">Altitude: {{item.Alt}}</h2>
            <h3>Code: {{item.Icao}}</h3>
      </li>
    </ul>

  </div>

</main>

<!-- geolocation -->
<footer class="geo">
  <div *ngIf="error">Permission Denied</div>

  <div *ngIf="!error">
    <h2>I know where you live :)</h2>
    <div>{{output}}</div>
  </div>
</footer>
