.main {
  width: 100%;
  margin-top: 124px;
}

.main ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 25%;
  padding: 25px;
  background-color: #eee;
  margin: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.box h3 {
  color: indianred;
}

.box h2 {
  color: #6a80ad;
  /* border-bottom: 1px solid #eee; */
}

.border {
  border-bottom: 2px solid #6c83b0;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}

.box:hover {
  padding: 50px;
}

/* geo */
footer.geo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: #6b81ae;
}

.geo h2 {
  padding: 0 0 5px 0;
}

@media only screen and (max-width: 1024px) {
  .box {
    flex: 1 1 50%;
  }
}

@media only screen and (max-width: 768px) {
  .box {
    flex: 1 1 100%;
  }
}
