html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

*, body, html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

/* loader */
.container-loader {
  width: 100%;
  height: calc(100vh - 124px);
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
}

.loading {
  border: 6px solid #ccc;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-top-color: #1ecd97;
  border-left-color: #1ecd97;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-720deg)
  }
}
